.hidden {
	display: none;
}

h1, h2, h6{
	text-align: center;
}

.feed{
	padding:10%;
}

body {
	padding-left: 20%;
	padding-right: 20%;
}

#post {
	position: relative;
	padding: 30px;
	margin: 0 auto;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0 , 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 10px;
	height: 100%;
//	color: #26a69a;
}
