<!doctype html>
<html ng-app="myApp"> 
    
<head>
  <title>User Login and Sessions</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>
        
<body>  
    <div ng-controller="myController">
        <h1>Welcome</h1>
        <h3 id="welcomeText">You are Logged In as
            <span class="teal-text"><%= username %></span>
        </h3>
        <a class="btn" id="logoutLink" href="/logout">Logout</a>
        <a class="btn" id="editLink" href="/user">Edit User</a>
    </div>
    <hr>
    <span id="indexMsg">
        <%= msg %>
    </span>
    <hr>
    <span id="colorText">
    Color
        <%= color %>
      </span>
    <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
    <script src="/javascripts/my_app.js"></script>
</body>
      
</html>
